# requirements.txt
Flask
Flask-Login
Flask-SQLAlchemy
Flask-Migrate
Flask-Talisman
Flask-WTF
Flask-Limiter
Werkzeug
google-generativeai
python-dotenv
stripe
Pillow
gunicorn
authlib
itsdangerous
email-validator
